aside{
    padding: 118px 0;
    @include tablet-min{
        padding: 60px 0 53px 0;
      }
    .aside__background{
        padding: 50px 107px 28px 125px;
        background-color: #FDF4F4;
        border-radius: 21px;
        @include desktop-min{
            flex-direction: column;
          }
        @include tablet-min{
            padding: 43px 0 50px;
          }
        .aside__background__content{
            margin-right: 77px;
            @include desktop-min{
                margin: 0 21px 36px 21px;
              }
            h3{
                font-size: 36px;
                margin-bottom: 35px;
                font-weight: 700;
                color: $first-color;
                @include tablet-min{
                    font-size: 38px;
                  }
                span{
                    @include tablet-min{
                        font-size: 64px;
                      }
                }  
            }
            p{
                font-size: 24px;
                font-weight: 500;
                color: $second-color;
                @include phone{
                    font-size: 16px;
                  }
            }
        }
    }
}